body{
    margin: 0px;
}

footer{
    background-color:rgb(24, 24, 24);
    border-top: 1px solid white;
    bottom: 0px;
    color: white;
    position: sticky;
    text-align: right;
    padding-right: 10px;
    text-decoration: underline;
    margin: 0px;
}

nav{
    display: flex;
    border-bottom: 2px solid white;
    color: white;
    background-color:green;
    position: sticky;
    top: 0px;
    font-size: 25px;
    padding: 10px;
    height: 5vw;
    align-items: center;
    justify-content: center;
}

.website_title{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.img1{
    height: 5vw;
}

#container{
    display: flex;
    width: 100%;
}

.left{
    background-color: rgb(55, 154, 57);
    width: 25%;
    padding: 10px;
}

.right{
    background-color: rgb(111, 218, 99);
    width: 75%;
    padding: 10px;
}

.blog{

    border-bottom: 5px solid black;
}

.title{
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    clear: left;
    color: black;
    padding-top: 70px; 
    margin-top: -70px;
}

.date{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    color: black;
}
ol{
    padding-left: 20px;
    line-height: 25px;
}
.author{
    margin: 0px;
    color: black;
}

.image{
    float: left;
    width: 125px;
    margin-right: 10px;
}

.description{
    margin: 5px;
    text-align: justify;
    color: black;
}

.link{
    text-decoration: none;
    font-weight:bold;
    color: black;
    color: white;
}